DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_SSLMODE=require

SERVICEBUS_QUEUE_NAME=
SERVICEBUS_CONNECTION_STRING=

APPINSIGHTS_CONNECTION_STRING=

MOCK_EMAIL=true
MOCK_SMS=true

APP_NAME=notification-agent
APP_ENV=dev